<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="caminhoBase" value="C:\sistema\remessa"/>
    <add key="empresaUm" value="empresa01"/>
    <add key="empresaDois" value="empresa02"/>
  </appSettings>
</configuration>
